{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}


{% block body %}
{{ super() }}

<div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-8 bd-margins" 
 data-page-id="page.12">
    <section class=" bd-section-3 bd-tagstyles" id="section7" data-section-title="Container Plus Image Below">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-7 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <h1 class=" bd-textblock-3 bd-content-element">
    About
</h1>
	
		<div class="bd-separator-3  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-5 bd-content-element">
    New Grace Foundation (NGF) was
founded on 18<sup>th</sup> October, 2016 to help “helpless” and underprivileged
children in Ghana. It is charitable,
voluntary, humanitarian, non-governmental, non-profit, non-political and
nonpartisan organization
committed to providing hope, health, education, vocation and security to
“helpless” and underprivileged children living in deprived areas in Ghana. &nbsp;<!--EndFragment-->
</p>
    </div>
</div>
	
		<img class="bd-imagelink-5 bd-imagescaling bd-imagescaling-2 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/d631cc3d4f4ef762632fdcf6e6abb6b2_17022201_1392266497504308_8880494087982441571_n.jpg')}}">
    </div>
</section>
</div>
</div></div>
{% endblock %}