{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}


{% block body %}
{{ super() }}

	
		<div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-3 bd-margins" 
 data-page-id="page.15">
    <section class=" bd-section-16 bd-tagstyles bd-textureoverlay bd-textureoverlay-6" id="section3" data-section-title="Container in Full-Width Section">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-25 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <h1 class=" bd-textblock-61 bd-content-element">
    DONATE TOWARDS OUR UPCOMING PROJECTS
</h1>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-18 bd-tagstyles" id="section4" data-section-title="Steps Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-31 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-71 
 col-sm-4">
    <div class="bd-layoutcolumn-71 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-12 bd-own-margins bd-icon-79 bd-icon "></span>
	
		<h4 class=" bd-textblock-75 bd-content-element">
    MOBILE MONEY
</h4>
	
		<ul class=" bd-textblock-77 bd-content-element">
    <li>0244 034</li>
</ul>
	
		<span class="bd-iconlink-14 bd-own-margins bd-icon-81 bd-icon "></span></div></div>
</div>
	
		<div class=" bd-columnwrapper-73 
 col-sm-4">
    <div class="bd-layoutcolumn-73 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-16 bd-own-margins bd-icon-83 bd-icon "></span>
	
		<h4 class=" bd-textblock-79 bd-content-element">
    bITCOIN
</h4>
	
		<h3 class=" bd-textblock-81 bd-content-element">
    Choose what fits the best
</h3>
	
		<span class="bd-iconlink-18 bd-own-margins bd-icon-85 bd-icon "></span></div></div>
</div>
	
		<div class=" bd-columnwrapper-75 
 col-sm-4">
    <div class="bd-layoutcolumn-75 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-20 bd-own-margins bd-icon-87 bd-icon "></span>
	
		<h4 class=" bd-textblock-83 bd-content-element">
    Step 3:
</h4>
	
		<h3 class=" bd-textblock-85 bd-content-element">
    Pay and go to a new home
</h3>
	
		<span class="bd-iconlink-22 bd-own-margins bd-icon-89 bd-icon "></span></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div></div>
	
{% endblock %}