{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}


{% block body %}
{{ super() }}
	
		<div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-4 bd-margins" 
 data-page-id="page.16">
    <section class=" bd-section-13 bd-page-width bd-tagstyles " id="section4" data-section-title="One Third Image Right">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-16 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-36 
 col-sm-4">
    <div class="bd-layoutcolumn-36 bd-column" ><div class="bd-vertical-align-wrapper"><h1 class="bd-textblock-35 bd-content-element">
    Parties &amp; <br><b>Special Events
</b>
</h1>
	
		<div class=" bd-spacer-9 clearfix"></div>
	
		<p class=" bd-textblock-39 bd-content-element">
    We offer themed birthday parties that include art lessons and celebration time! The choice of themes include: drawing, painting, printmaking, mask-making, mixed media and clay. Birthday parties can be scheduled Thursday through Sunday.
</p>
	
		<div class=" bd-spacer-11 clearfix"></div>
	
		<a 
 href="" class="bd-linkbutton-16  bd-button-23  bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
	
		<div class=" bd-columnwrapper-38 
 col-sm-8">
    <div class="bd-layoutcolumn-38 bd-column" ><div class="bd-vertical-align-wrapper"><div class=" bd-ribbon-1 bd-no-margins bd-ribbon-core bd-ribbon ribbon-shadow">
    <div class="ribbon-inner"><div class="ribbon-stitches-top"></div>
        <strong class="ribbon-content"><div class=" bd-container-55 bd-tagstyles bd-content-element">
    4 - 5 July, 2016
 </div></strong>
        <div class="ribbon-stitches-bottom"></div>
    </div>
</div>
	
		<a 
 href="" class="bd-linkbutton-21  bd-button  bd-own-margins bd-content-element"    >
    Donate
</a></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-14 bd-page-width bd-tagstyles " id="section4" data-section-title="Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-20 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-44 
 col-md-4
 col-sm-12">
    <div class="bd-layoutcolumn-44 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-46 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-46 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-43 bd-content-element">
    country style
</h2>
	
		<img class="bd-imagelink-8 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/d76352d71a6c339b21e31bc1f6aa60ae_weddingdresses.jpg')}}">
	
		<div class=" bd-spacer-13 clearfix"></div>
	
		<p class=" bd-textblock-47 bd-content-element">
    We work together with a professional agency, who for the past 15 years has handled thousands of documents for couples wishing to get married in the Dominican Republic. &nbsp;Write to us to get more information about the requirements and costs.
</p>
	
		<div class=" bd-spacer-15 clearfix"></div>
	
		<a 
 href="" class="bd-linkbutton-18  bd-button-24  bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
	
		<div class=" bd-columnwrapper-48 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-48 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-49 bd-content-element">
    classic style
</h2>
	
		<img class="bd-imagelink-12 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/0e9930b90cb91ae57bea56c4bcb8f958_wedding_121218105238.jpg')}}">
	
		<div class=" bd-spacer-17 clearfix"></div>
	
		<p class=" bd-textblock-51 bd-content-element">
    We can reserve the best restaurants, luxury villas, boutique hotels in most areas of the Dominican Republic at the lowest rates for your special day. Our team has the ability to perform ceremonies on the best and the most secluded beaches of the country.
</p>
	
		<div class=" bd-spacer-19 clearfix"></div>
	
		<a 
 href="" class="bd-linkbutton-20  bd-button-25  bd-own-margins bd-content-element" >
    Read More
</a></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div></div>
	
{% endblock %}