{% extends "appbuilder/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}


{% block body %}
{{ super() }}

		<div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-2 bd-margins" 
 data-page-id="page.14">
    <section class=" bd-section-15 bd-page-width bd-tagstyles " id="section5" data-section-title="Two Columns Top Offset Over Image">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-22 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-50 
 col-lg-12">
    <div class="bd-layoutcolumn-50 bd-no-margins bd-column" ><div class="bd-vertical-align-wrapper"><h1 class=" bd-textblock-55 bd-content-element">
    Be part of our team
</h1>
	
		<div class="bd-separator-7  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-59 bd-content-element">
    in an upcoming event, you can help volunteering, donate in cash or kind or sponsor in anyway you can.&nbsp;
</p>
	
		<form class=" bd-form-4 "
 action="#"
 name="form-name" method="post">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class=" bd-input-7 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <input type="text" class="bd-form-input"
 placeholder="Input" >

    </div>
</div>
	
		<div class=" bd-input-9 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <input type="text" class="bd-form-input"
 placeholder="Input" >

    </div>
</div>
	
		<div class=" bd-textarea-4 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <textarea class="bd-form-input"
 placeholder="Textarea"></textarea>

    </div>
</div>
        </div>
    </div>
</form></div></div>
</div>
	
		<div class=" bd-columnwrapper-52 
 col-lg-12">
    <div class="bd-layoutcolumn-52 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-16 bd-imagescaling bd-imagescaling-3 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/531ddac710b9db9fed16424b1595cdfa_16807626_1385591028171855_5618238639600854227_n.jpg')}}"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div></div>
{% endblock %}	
